In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
filepath = "./purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(filepath)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
#Display the total number of players
player_count_df = len(purchase_data_df["SN"].unique())
summary_df = pd.DataFrame({"Total Players":[player_count_df]})
summary_df

#player_count_df = purchase_data_df["SN"].count()
#player_count_df = player_count_df.drop_duplicates(subset=["SN"])
#summary_df = pd.DataFrame({"Total Players":[player_count_df]})
#summary_df

   Total Players
0            576

In [18]:
#Purchasing Analysis (Total)

#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_data_df["Item Name"].value_counts())
average_price = purchase_data_df["Price"].mean()
total_purchase = len(purchase_data_df["Purchase ID"].value_counts())
revenue = purchase_data_df["Price"].sum()

#Create a summary data frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price":[average_price], 
                           "Number of Purchases":[total_purchase], "Total Revenue":[revenue]})

#Optional: give the displayed data cleaner formatting
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df.head()
#Display the summary data frame

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [25]:
#Gender Demographics
total_count = len(purchase_data["SN"].unique())

#Percentage and Count of Male Players
Male1= purchase_data.groupby(['Gender']).get_group(('Male'))
Male2= len(Male1['SN'].unique())
MalePercent= round((Male2/total_count)*100,2)

#Percentage and Count of Female Players
Female1= purchase_data.groupby(['Gender']).get_group(('Female'))
Female2= len(Female1['SN'].unique())
FemalePercent= round((Female2/total_count)*100,2)

#Percentage and Count of Other / Non-Disclosed
Other1= purchase_data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other2= len(Other1['SN'].unique())
OtherPercent= round((Other2/total_count)*100,2)

#Gender DataFrame
gender1 = {'Percent of Players':[MalePercent,FemalePercent,OtherPercent],'Gender':["Male",'Female','Other'],'Gender Count':[Male2,Female2,Other2]}
gender2 =  pd.DataFrame(gender1)
gender2= gender2.set_index('Gender')
gender2= gender2[['Gender Count','Percent of Players']]
gender2

        Gender Count  Percent of Players
Gender
Male             484               84.03
Female            81               14.06
Other             11                1.91

In [ ]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

In [ ]:
#Age Demographics
#Establish bins for ages
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table

In [ ]:
#Purchasing Analysis (Age)
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

In [ ]:
#Top Spenders
#Run basic calculations to obtain the results in the table below
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

In [ ]:
#ost Popular Items
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

In [ ]:
#Most Profitable Items
#Sort the above table by total purchase value in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame